<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>scm</string>
				<string>sld</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_clojure</string>
			<key>CFBundleTypeName</key>
			<string>Scheme Source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.scheme-source</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
			<key>NSDocumentClass</key>
			<string>SESourceItem</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>clj</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_clojure</string>
			<key>CFBundleTypeName</key>
			<string>Clojure Source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.clojure-source</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
			<key>NSDocumentClass</key>
			<string>SESourceItem</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>edn</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_clojure</string>
			<key>CFBundleTypeName</key>
			<string>EDN</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.edn</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
			<key>NSDocumentClass</key>
			<string>SESourceItem</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string> S-Explorer Source Code</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.source-code</string>
				<string>public.plain-text</string>
				<string>public.item</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SEProjectDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>All folders</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.folder</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SEProjectDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>S-Explorer</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>LanguageByFileType</key>
	<dict>
		<key>public.clojure-source</key>
		<string>Clojure</string>
		<key>public.scheme-source</key>
		<string>Chibi-Scheme</string>
	</dict>
	<key>LanguageSupport</key>
	<dict>
		<key>Chibi-Scheme</key>
		<dict>
			<key>Keywords</key>
			<dict>
				<key>DynamicExpression</key>
				<string></string>
				<key>StaticList</key>
				<array>
					<string>*</string>
					<string>+</string>
					<string>-</string>
					<string>...</string>
					<string>/</string>
					<string>&lt;</string>
					<string>&lt;=</string>
					<string>=</string>
					<string>=&gt;</string>
					<string>&gt;</string>
					<string>&gt;=</string>
					<string>_</string>
					<string>abs</string>
					<string>acos</string>
					<string>and</string>
					<string>angle</string>
					<string>append</string>
					<string>apply</string>
					<string>asin</string>
					<string>assoc</string>
					<string>assq</string>
					<string>assv</string>
					<string>atan</string>
					<string>begin</string>
					<string>binary-port?</string>
					<string>boolean=?</string>
					<string>boolean?</string>
					<string>bytevector</string>
					<string>bytevector-append</string>
					<string>bytevector-copy</string>
					<string>bytevector-copy!</string>
					<string>bytevector-length</string>
					<string>bytevector-u8-ref</string>
					<string>bytevector-u8-set!</string>
					<string>bytevector?</string>
					<string>caaaar</string>
					<string>caaadr</string>
					<string>caaar</string>
					<string>caadar</string>
					<string>caaddr</string>
					<string>caadr</string>
					<string>caar</string>
					<string>cadaar</string>
					<string>cadadr</string>
					<string>cadar</string>
					<string>caddar</string>
					<string>cadddr</string>
					<string>caddr</string>
					<string>cadr</string>
					<string>call-with-current-continuation</string>
					<string>call-with-input-file</string>
					<string>call-with-output-file</string>
					<string>call-with-port</string>
					<string>call-with-values</string>
					<string>call/cc</string>
					<string>car</string>
					<string>case</string>
					<string>case-lambda</string>
					<string>cdaaar</string>
					<string>cdaadr</string>
					<string>cdaar</string>
					<string>cdadar</string>
					<string>cdaddr</string>
					<string>cdadr</string>
					<string>cdar</string>
					<string>cddaar</string>
					<string>cddadr</string>
					<string>cddar</string>
					<string>cdddar</string>
					<string>cddddr</string>
					<string>cdddr</string>
					<string>cddr</string>
					<string>cdr</string>
					<string>ceiling</string>
					<string>char-&gt;integer</string>
					<string>char-alphabetic?</string>
					<string>char-ci&lt;=?</string>
					<string>char-ci&lt;?</string>
					<string>char-ci=?</string>
					<string>char-ci&gt;=?</string>
					<string>char-ci&gt;?</string>
					<string>char-downcase</string>
					<string>char-foldcase</string>
					<string>char-lower-case?</string>
					<string>char-numeric?</string>
					<string>char-ready?</string>
					<string>char-upcase</string>
					<string>char-upper-case?</string>
					<string>char-whitespace?</string>
					<string>char&lt;=?</string>
					<string>char&lt;?</string>
					<string>char=?</string>
					<string>char&gt;=?</string>
					<string>char&gt;?</string>
					<string>char?</string>
					<string>close-input-port</string>
					<string>close-output-port</string>
					<string>close-port</string>
					<string>command-line</string>
					<string>complex?</string>
					<string>cond</string>
					<string>cond-expand</string>
					<string>cons</string>
					<string>cos</string>
					<string>current-error-port</string>
					<string>current-input-port</string>
					<string>current-jiffy</string>
					<string>current-output-port</string>
					<string>current-second</string>
					<string>define</string>
					<string>define-record-type</string>
					<string>define-record</string>
					<string>define-syntax</string>
					<string>define-values</string>
					<string>delay</string>
					<string>delay-force</string>
					<string>delete-file</string>
					<string>denominator</string>
					<string>digit-value</string>
					<string>display</string>
					<string>do</string>
					<string>dynamic-wind</string>
					<string>else</string>
					<string>emergency-exit</string>
					<string>environment</string>
					<string>eof-object</string>
					<string>eof-object?</string>
					<string>eq?</string>
					<string>equal?</string>
					<string>eqv?</string>
					<string>error</string>
					<string>error-object-irritants</string>
					<string>error-object-message</string>
					<string>error-object?</string>
					<string>eval</string>
					<string>even?</string>
					<string>exact</string>
					<string>exact-&gt;inexact</string>
					<string>exact-integer-sqrt</string>
					<string>exact-integer?</string>
					<string>exact?</string>
					<string>exit</string>
					<string>exp</string>
					<string>expt</string>
					<string>features</string>
					<string>file-error?</string>
					<string>file-exists?</string>
					<string>finite?</string>
					<string>floor</string>
					<string>floor-quotient</string>
					<string>floor-remainder</string>
					<string>floor/</string>
					<string>flush-output-port</string>
					<string>for-each</string>
					<string>force</string>
					<string>gcd</string>
					<string>get-environment-variable</string>
					<string>get-environment-variables</string>
					<string>get-output-bytevector</string>
					<string>get-output-string</string>
					<string>guard</string>
					<string>if</string>
					<string>imag-part</string>
					<string>include</string>
					<string>include-ci</string>
					<string>inexact</string>
					<string>inexact-&gt;exact</string>
					<string>inexact?</string>
					<string>infinite?</string>
					<string>input-port-open?</string>
					<string>input-port?</string>
					<string>integer-&gt;char</string>
					<string>integer?</string>
					<string>interaction-environment</string>
					<string>jiffies-per-second</string>
					<string>lambda</string>
					<string>lcm</string>
					<string>length</string>
					<string>let</string>
					<string>let*</string>
					<string>let*-values</string>
					<string>let-syntax</string>
					<string>let-values</string>
					<string>letrec</string>
					<string>letrec*</string>
					<string>letrec-syntax</string>
					<string>list</string>
					<string>list-&gt;string</string>
					<string>list-&gt;vector</string>
					<string>list-copy</string>
					<string>list-ref</string>
					<string>list-set!</string>
					<string>list-tail</string>
					<string>list?</string>
					<string>load</string>
					<string>log</string>
					<string>magnitude</string>
					<string>make-bytevector</string>
					<string>make-list</string>
					<string>make-parameter</string>
					<string>make-polar</string>
					<string>make-promise</string>
					<string>make-rectangular</string>
					<string>make-string</string>
					<string>make-vector</string>
					<string>map</string>
					<string>max</string>
					<string>member</string>
					<string>memq</string>
					<string>memv</string>
					<string>min</string>
					<string>modulo</string>
					<string>nan?</string>
					<string>negative?</string>
					<string>newline</string>
					<string>not</string>
					<string>null-environment</string>
					<string>null?</string>
					<string>number-&gt;string</string>
					<string>number?</string>
					<string>numerator</string>
					<string>odd?</string>
					<string>open-binary-input-file</string>
					<string>open-binary-output-file</string>
					<string>open-input-bytevector</string>
					<string>open-input-file</string>
					<string>open-input-string</string>
					<string>open-output-bytevector</string>
					<string>open-output-file</string>
					<string>open-output-string</string>
					<string>or</string>
					<string>output-port-open?</string>
					<string>output-port?</string>
					<string>pair?</string>
					<string>parameterize</string>
					<string>peek-char</string>
					<string>peek-char</string>
					<string>peek-u8</string>
					<string>port?</string>
					<string>positive?</string>
					<string>procedure?</string>
					<string>promise?</string>
					<string>quasiquote</string>
					<string>quote</string>
					<string>quotient</string>
					<string>raise</string>
					<string>raise-continuable</string>
					<string>rational?</string>
					<string>rationalize</string>
					<string>read</string>
					<string>read-bytevector</string>
					<string>read-bytevector!</string>
					<string>read-char</string>
					<string>read-error?</string>
					<string>read-line</string>
					<string>read-string</string>
					<string>read-u8</string>
					<string>real-part</string>
					<string>real?</string>
					<string>remainder</string>
					<string>reverse</string>
					<string>round</string>
					<string>scheme-report-environment</string>
					<string>set!</string>
					<string>set-car!</string>
					<string>set-cdr!</string>
					<string>sin</string>
					<string>sqrt</string>
					<string>square</string>
					<string>string</string>
					<string>string-&gt;list</string>
					<string>string-&gt;number</string>
					<string>string-&gt;symbol</string>
					<string>string-&gt;utf8</string>
					<string>string-&gt;vector</string>
					<string>string-append</string>
					<string>string-ci&lt;=?</string>
					<string>string-ci&lt;?</string>
					<string>string-ci=?</string>
					<string>string-ci&gt;=?</string>
					<string>string-ci&gt;?</string>
					<string>string-copy</string>
					<string>string-copy!</string>
					<string>string-downcase</string>
					<string>string-fill!</string>
					<string>string-foldcase</string>
					<string>string-for-each</string>
					<string>string-length</string>
					<string>string-map</string>
					<string>string-ref</string>
					<string>string-set!</string>
					<string>string-upcase</string>
					<string>string&lt;=?</string>
					<string>string&lt;?</string>
					<string>string=?</string>
					<string>string&gt;=?</string>
					<string>string&gt;?</string>
					<string>string?</string>
					<string>substring</string>
					<string>symbol-&gt;string</string>
					<string>symbol=?</string>
					<string>symbol?</string>
					<string>syntax-error</string>
					<string>syntax-rules</string>
					<string>tan</string>
					<string>textual-port?</string>
					<string>truncate</string>
					<string>truncate-quotient</string>
					<string>truncate-remainder</string>
					<string>truncate/</string>
					<string>u8-ready?</string>
					<string>unless</string>
					<string>unquote</string>
					<string>unquote-splicing</string>
					<string>utf8-&gt;string</string>
					<string>values</string>
					<string>vector</string>
					<string>vector-&gt;list</string>
					<string>vector-&gt;string</string>
					<string>vector-append</string>
					<string>vector-copy</string>
					<string>vector-copy!</string>
					<string>vector-fill!</string>
					<string>vector-for-each</string>
					<string>vector-length</string>
					<string>vector-map</string>
					<string>vector-ref</string>
					<string>vector-set!</string>
					<string>vector?</string>
					<string>when</string>
					<string>with-exception-handler</string>
					<string>with-input-from-file</string>
					<string>with-output-to-file</string>
					<string>write</string>
					<string>write-bytevector</string>
					<string>write-char</string>
					<string>write-shared</string>
					<string>write-simple</string>
					<string>write-string</string>
					<string>write-u8</string>
					<string>zero?</string>
				</array>
			</dict>
			<key>LibraryDirectory</key>
			<string></string>
			<key>Prompt</key>
			<string>&gt; </string>
			<key>RuntimeArguments</key>
			<array>
				<string>-xscheme.base</string>
			</array>
			<key>RuntimeTool</key>
			<string>/usr/local/bin/chibi-scheme</string>
			<key>WelcomeMessage</key>
			<string>Welcome to Chibi Scheme!</string>
		</dict>
		<key>Clojure</key>
		<dict>
			<key>LibraryDirectory</key>
			<string></string>
			<key>Prompt</key>
			<string>=&gt; </string>
			<key>RuntimeArguments</key>
			<array>
				<string>clojure.main</string>
				<string>-e (replicant.util/run-tool-repl %PORT)</string>
			</array>
			<key>RuntimeTool</key>
			<string>/usr/bin/java</string>
			<key>WelcomeMessage</key>
			<string>Welcome to Clojure!
    Docs: (doc function-name-here)
          (find-doc &quot;part-of-name-here&quot;)
  Source: (source function-name-here)</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 Dirk Theisen. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
				<string>public.plain-text</string>
				<string>public.text</string>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.clojure-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>clj</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.scheme-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>scm</string>
					<string>sld</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
